.DS_Store
.vscode/
authentication.js
node_modules
notes/
../*-todo.md
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/learngit/FileContentIndex/ce6bb24c-c5c7-4d61-a78b-69367b76d678.vsidx
.vs/learngit/v17/.wsuo
.vs/learngit/v17/DocumentLayout.json
.gitignore
